<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <PostPal_Shipping>
            <module>0.0.1</module>
        </PostPal_Shipping>
    </modules>
    <frontend>
        <translate>
            <modules>
                <postpal_shipping>
                    <files>
                        <default>PostPal_Shipping.csv</default>
                    </files>
                </postpal_shipping>
            </modules>
        </translate>
        <layout>
            <updates>
                <postpal_shipping>
                    <file>postpal/shipping.xml</file>
                </postpal_shipping>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <postpal_shipping>
                <class>PostPal_Shipping_Model</class>
            </postpal_shipping>
        </models>
        <helpers>
            <postpal>
                <class>PostPal_Shipping_Helper</class>
            </postpal>
        </helpers>
        <blocks>
            <overrides>
                <class>PostPal_Shipping_Block</class>
            </overrides>
            <adminhtml>
                <rewrite>
                    <sales_order_shipment_view>PostPal_Shipping_Block_Adminhtml_Sales_Order_Shipment_View</sales_order_shipment_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <sales_order_invoice_pay>
                <observers>
                    <postpal_shipping_send_order>
                        <type>singleton</type>
                        <class>PostPal_Shipping_Model_Observer</class>
                        <method>sendOrderData</method>
                    </postpal_shipping_send_order>
                </observers>
            </sales_order_invoice_pay>
            <sales_order_place_before>
                <observers>
                    <postpal_shipping_get_order_validation>
                        <class>PostPal_Shipping_Model_Observer</class>
                        <method>getOrderValidation</method>
                    </postpal_shipping_get_order_validation>
                </observers>
            </sales_order_place_before>
        </events>
    </global>
    <!-- Default configuration -->
    <default>
        <carriers>
            <postpal_shipping>
                <active>1</active>
                <model>postpal_shipping/carrier</model>
                <title>PostPal</title>
                <name>Kiirkuller</name>
                <sort_order>1</sort_order>
                <sallowspecific>0</sallowspecific>
                <api_url>https://my.postpal.ee/api/shop/v1</api_url>
                <track_url>https://my.postpal.ee/track</track_url>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <showmethod>1</showmethod>
            </postpal_shipping>
        </carriers>
    </default>
</config>